{% extends 'stroke_app/base.html' %}
{% load static %}

{% block content %}
<div class="row mt-5 text-center">
    <div class="col-md-12">
        <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file" accept=".csv" required>
            <button type="submit" class="btn text-light fw-bold" style="background-color:#3e78b6;">Upload CSV</button>
        </form>
    </div>
</div>
{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}
{% endblock %}